#map-carousel {
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  background: #111;
  padding: 1rem;
}
#map-carousel div {
  text-align: center;
  color: white;
}
#map-carousel img {
  width: 120px;
  height: 80px;
  object-fit: cover;
  border-radius: 8px;
}